

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

	body{
	   		margin: 0;
	   		padding: 0;
		}

	.bg-home {

			background-color: #6f5499;
		    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
		    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
		    background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
		    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
		    background-repeat: repeat-x;
		    padding: 0;
	}

	
	.logo,.logo a,.logo a:hover{

	   		font-size: 50px;
	   		font-weight: bold;
	   		color: #fff;
	   		text-transform: uppercase;
	}

	.navbar-brand:hover {

			color: #fff;
			background: #3b2362;
	}

	.logo a:hover {

			text-decoration: none;
	}

	.bg-home .text-desc,.bg-home h5{

			font-size: 30px;
			color: #fff;
			margin-bottom: 10px;
	}
	.bg-home h5 {
		margin-left: 75px;
		margin-bottom: 20px;
	}

	.navbar-toggle .icon-bar {

		background: #fff;
	}

	.navbar-nav li a .fa {

		margin-left: 15px;
	}

	.nav>li>a:hover, .nav>li>a:focus {

	    text-decoration: none;
	    background-color: #3b2362;
	    color: #fff;
	}

	.slidingVertical {
	    display: inline-block;
	    vertical-align: top;
	    position: relative;
	    width: 200px;
	    text-align: center;
	    margin: 0 auto;
	}

	.slidingVertical span {
	    animation: topToBottom 6s linear infinite 0s;
	    -ms-animation: topToBottom 6s linear infinite 0s;
	    -webkit-animation: topToBottom 6s linear infinite 0s;
	    color: #fff;
	    opacity: 0;
	    overflow: hidden;
	    position: absolute;
	    left: 0;
	}
	.slidingVertical span:nth-child(2) {
	    animation-delay: 2s;
	    -ms-animation-delay: 2s;
	    -webkit-animation-delay: 2s;
	}
	.slidingVertical span:nth-child(3) {
	    animation-delay: 4s;
	    -ms-animation-delay: 4s;
	    -webkit-animation-delay: 4s;
	}

	.title a {
		color: #000;
		font-size: 24px;
	}

	@-moz-keyframes topToBottom {

	    0% {
	        opacity: 0
	    }
	    5% {
	        opacity: 0;
	        -moz-transform: translateY(-20px)
	    }
	    10%,
	    25% {
	        opacity: 1;
	        -moz-transform: translateY(0)
	    }
	    30% {
	        opacity: 0;
	        -moz-transform: translateY(20px)
	    }
	    100%,
	    80% {
	        opacity: 0
	    }
	}

	@-webkit-keyframes topToBottom {

	    0% {
	        opacity: 0
	    }
	    5% {
	        opacity: 0;
	        -webkit-transform: translateY(-20px)
	    }
	    10%,
	    25% {
	        opacity: 1;
	        -webkit-transform: translateY(0)
	    }
	    30% {
	        opacity: 0;
	        -webkit-transform: translateY(20px)
	    }
	    100%,
	    80% {
	        opacity: 0
	    }
	}

	@-ms-keyframes topToBottom {
	    0% {
	        opacity: 0
	    }
	    5% {
	        opacity: 0;
	        -ms-transform: translateY(-20px)
	    }
	    10%,
	    25% {
	        opacity: 1;
	        -ms-transform: translateY(0)
	    }
	    30% {
	        opacity: 0;
	        -ms-transform: translateY(20px)
	    }
	    100%,
	    80% {
	        opacity: 0
	    }
	}

	.navbar-static-top {

		background:#6f5499;

	}

	.navbar-nav>li>a {

	    border-left: 1px solid #fff;
	    padding: 15px 30px;
	}

	.navbar-nav li:last-child a {

		border-right: 1px solid #fff;
	}

	.nav-tabs>li>a {

		font-size: 16px;
	    font-weight: bold;
	    color: #121821;
	}

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
		border: 0px;
		border-bottom: 2px solid #fff;
		color: #563d7c;
	}

	.nav-tabs>li>a:hover {

		background: #563d7c;
		color: #fff;
	}

	.btn-blue {

		color: #563d7c;
	    background-color: transparent;
	    border-color: #563d7c;
	}

	.btn-blue:hover {

		background: #563d7c;
		color: #fff;
	}

	.btn-green {
		background: #6f5499;
		border: 0px;
	}

	.btn-green:hover {

		background: #3b2362;
	}

	footer {

		  position: absolute;
		  bottom: 0;
		  width: 100%;
		  background-color: #fff;
		  padding: 10px 0;
	}

	footer p {

			margin: 0;
	}

	footer a {

			color: #563d7c;
	}

	.list {

			overflow: hidden;
			padding: 15px;
			border-bottom: 1px solid #ddd;
	}

	.input-lg, .form-group-lg .form-control {

			height: 43px;
	}

	.list-detail {

			background: url('/img/gig-bg.jpg') center no-repeat;
			background-size: cover;
	}

	.list-detail .title a {

			color: #fff;
			font-size: 32px;
	}

	.list-detail p {

			color: #fff;
	}

	.form-control:focus {

		    border-color: #563d7c;
		    outline: 0;
		    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
		    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
		}


 /*    Margin  style   */

 	.mar-0 {

 			margin:0;
 	}

 	.mar-b-2 {

 			margin-bottom: 2px;
 	}

 	.mar-t-3per {

 			margin-top: 3%;
 	}

 	.mar-t-5 {

 			margin-top: 5px;
 	}

 	.mar-b-5 {

 			margin-bottom: 5px;
 	}

 	.mar-r-15 {

 			margin-right: 15px;
 	}

 	.mar-t-15 {

 			margin-top: 15px;
 	}

 	.mar-t-40 {

 			margin-top: 40px;
 	}

 	.mar-b-40 {

 			margin-bottom: 40px;
 	}

 	.mar-b-15 {

 			margin-bottom: 15px;
 	}

 	.mar-t-20 {

 			margin-top: 20px;
 	}

 	.mar-b-20 {

 			margin-bottom: 20px;
 	}

 	

 /*  padding style    */

 	.padd-0 {

 			padding:0;
 	}

 	.padd-r-0 {

 			padding-right: 0;
 	}

 	.padd-l-0 {

 			padding-left: 0;
 	}

 	.padd-15 {

 			padding: 15px;
 	}


 	.padd-t-20 {

 			padding-top: 20px;
 	}

 	.padd-t-35 {

 			padding-top: 35px;
 	}

/*  font size style  */

	.font-10 {

			font-size: 10px;
	}

	.font-12 {

			font-size: 12px;
	}

	.font-13 {

			font-size: 13px;
	}

	.font-14 {

			font-size: 14px;
	}

	.font-16 {

			font-size: 16px;
	}

	.font-17 {

			font-size: 17px;
	}

	.font-18 {

			font-size: 18px;
	}

	.font-20 {

			font-size: 20px;
	}

	.font-24 {

			font-size: 24px;
	}

	.font-30 {

			font-size: 30px;
	}

	.font-50 {

			font-size: 50px;
	}

/*  Font Weight style  */

	.thin {

			font-weight: 100;
	}

	.light {

			font-weight: 300;
	}

	.normal {

			font-weight: 400;
	}

	.bold {

			font-weight: 700;
	}

	.ultra-bold {

			font-weight: 800;
	}

/*  Color style   */

	.cl-white {

			color:#fff;
	}

	.cl-black {

			color: #000;
	}

	.cl-black1 {

			color: #2a2a2a;
	}

	.cl-gray {

			color:#757575;
	}

	.cl-gray1 {

			color: #b0b0b0;
	}

	.cl-green {

			color: #00b108;
	}

	.cl-pink {

			color: #ff3363;
	}

/*   Background style */

	.bg-gray {

			background: #ebebeb;
	}

	.bg-black {

			background: #212121;
	}

	.bg-white {

			background: #fff;
	}

/*   Button style   */

/*  Image profile   */

	.artist-img{

			width: 85px;
			height: 85px;
	}


/*  Border style   */

	.border-left-1 {

			border-left:1px solid #d8d8d8;

	}

	.border-left-2 {

			border-left: 2px solid #d8d8d8
	}

	.border-0 {

			border: 0px;
	}

	.border-top-left-radius: {

			float: left;
	}

	.bg1 {

			position: absolute;
		    left: 50%;
		    top: 50%;
		    margin: -125px 0 0 -250px;
	}


	/*  Ipad Device   */

	@media screen and (max-width:991px) {

		.navbar-nav>li>a {

			padding: 15px 20px;
		}
	}

	/*  Mobile Device  */

	@media screen and (max-width:767px) {
		.bg-home h5 {
		    margin-left: -15%;
		}
		.bg-home .text-desc, .bg-home h5 {
			font-size: 28px;
		}
		.slidingVertical {
			width: 0;
		}
		.bg1 {
			    position: absolute;
			    left: 50%;
			    top: 50%;
			    margin: -125px 0 0 -130px;
			}
		.navbar-nav>li>a {

				border-left: 0;
		}
	}

	@media screen and (max-width:520px) {

		.artist-img {

				width: 16.66666667%;
				height: auto;
		}

		.list-detail .mar-t-3per {

				margin-top: 0;
		}


	}

	@media screen and (max-width:360px) {

			.btn-blue,.btn-green,.btn-default {

					font-size: 14px;
    				padding: 12px 16px
			}

			.list-detail .mar-t-15 {

					margin-top: 0;
			}

			.list-detail .title a {

					font-size: 24px;
			}
			
	}


















